* {
  font-family: "Open Sans", sans-serif;
}

/* Custom properties/variables  */
:root {
  background-color: whitesmoke;
  --main-white: #000000; /* font color */
  --main-gray: rgb(202, 200, 200); /* font color */
  --main-green: #8ce83c;
  --main-dark-gray: gray;
  --main-color: #0bc06d;
}

.navbar-container {
  background-color: whitesmoke;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1025px;
  margin: auto;
}

.navbar-brand {
  display: flex;
}

.navbar-main {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.2rem;
  padding: 0;
  flex-grow: 0;
}

.nav-link {
  color: var(--main-white) !important;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar-profile {
  display: flex;
  justify-content: flex-end;
  color: var(--main-green);
  padding: 0 !important;
  white-space: nowrap;
  flex-grow: 0;
}

/* When screensize is small */
@media (max-width: 700px) {
  .navbar-main {
    background-color: whitesmoke;
    /* var(--main-green); */
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0 !important;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid black;
  }
  .navbar-profile {
    display: flex;
    justify-content: flex-end;
  }
}

.custom-nav-dropdown .dropdown-item:hover,
.custom-nav-dropdown .dropdown-item:focus {
  background-color: var(--main-green);
}

.App {
  margin: auto;
  margin-top: 46px;
  max-height: 94vh;
  max-width: 1025px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.map-container {
  height: 47svh;
  height: 100%;
  width: 100%;
}

.map {
  height: 100%;
  width: 100%;
}

.list-container {
  display: flex;
  flex-direction: column;
  max-height: 45.5vh;
  width: 100%;
}

.allExp-container {
  max-height: 34vh;
  overflow-y: auto;
  cursor: pointer;
}

.expense-date-title {
  background-color: whitesmoke;
  padding: 0px 0px 0px 15px;
  color: var(--main-white);
  font-weight: bold;
  font-size: 1.2rem;
}

.custom-checkbox .form-check-input:checked {
  background-color: #8ce73b !important;
  border-color: black !important;
  margin-bottom: 0;
  /* var(--main-green) */
}

.center-toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.welcome-container {
  height: 47svh;
  max-height: 45.5svh;
  max-width: 1025px;
  font-size: 1.2rem;
  padding: 10px;

  color: black;
  background-color: whitesmoke;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.temporary-box {
  margin: auto;
  margin-top: 63.78px;
  margin-bottom: 63.78px;
  min-height: 91svh;
  max-width: 1025px;
  font-size: 1.2rem;

  color: black;
  background-color: white;

  border-width: 1rem;
  border-color: red;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mini-navbar {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: "left";
}

.card-text {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  text-align: "left";
}

.highlighted-card {
  border: 2px solid #8ce73b;
  /* var(--main-green) */
  border-radius: 0.375rem;
}

.profile-container {
  margin: auto;
  margin-top: 100px;
  max-width: 1025px;
  display: flex;
  justify-content: center;
}

.profile-picture {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid var(--main-gray);
  background-size: "cover";
  background-position: "50% 50%";
  margin-right: 10px;
}

.dashboard-container {
  margin: auto;
  margin-top: 46px;
  max-height: 90vh;
  max-width: 1025px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.dashboard-header {
  text-align: center;
  height: 6svh;
}

.dashboard-main {
  margin: auto;
  align-items: center;
  text-align: center;
  height: 50svh;
}

.dashboard-expenses {
  height: 34svh;
  overflow-y: auto;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}

.reset-container {
  margin: auto;
  margin-top: 63.78px;
  max-height: 45.5svh;
  max-width: 1025px;
  font-size: 1rem;

  color: black;
  background-color: whitesmoke;

  border-width: 1rem;
  border-color: red;

  display: flex;

  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.chart-wrapper {
  width: 500px;
  height: 300px;
}

/* if viewport width is greater than 700px */
@media (min-width: 700px) {
  .allExp-container {
    max-height: 83vh;
    overflow-y: auto;
    cursor: pointer;
  }

  .dashboard-container {
    margin-top: 100px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .dashboard-header {
    grid-column: 1 / -1;
  }

  .chart-container {
    height: 300px;
  }

  .chart-wrapper {
    height: 300px;
  }

  .dashboard-main {
    grid-column: 1;
    height: 88svh;
  }

  .dashboard-expenses {
    grid-column: 2;
    /* margin-top: 11svh; */
    height: 88svh;
  }

  .App {
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
  }
  .map-container {
    height: 100%;
    height: 94vh;
  }
  .list-container {
    height: 100%;
    height: 94vh;
  }
  .welcome-container {
    height: 100%;
    max-height: 94vh;
  }
  .temporary-box {
    height: 100%;
    min-height: 91vh;
  }
  .reset-container {
    height: 100%;
    min-height: 91vh;
  }
  .profile-container {
    height: 100%;
    min-height: 91vh;
  }
  .category-container {
    height: 100%;
    min-height: 91vh;
  }
  .dashboard-container {
    height: 100%;
    min-height: 91vh;
  }
}

.category-container {
  margin: auto;
  margin-top: 100px;
  max-width: 1025px;

  display: flex;
  flex-direction: column;
}

.category-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  overflow-y: auto;
}

.category-card {
  width: 100%;
}

@media (max-width: 600px) {
  .category-container {
    margin: auto;
    margin-top: 100px;
    max-width: 600px;
    height: 90svh;
  }

  .category-list {
    grid-template-columns: 1fr;
  }

  .category-card {
    width: 100%;
  }
}

.Custom-Tooltip {
  background-color: white;
  padding: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.add-button,
.add-button-big {
  background-color: var(--main-green) !important;
  border-color: var(--main-green) !important;
  color: black !important;
}

.add-button-big {
  margin-bottom: 5px;
  width: 100%;
}

.close-button {
  background-color: var(--main-gray) !important;
  border-color: var(--main-green) !important;
  color: black !important;
  /* color: var(--main-green) !important; */
}

.dashboard-view-buttons-all {
  display: flex;
}

.dashboard-view-button-default {
  flex: 1;
  margin: 0 10px;
  background-color: white !important;
  color: var(--main-green) !important;
  margin-bottom: 10px;
  border-color: var(--main-green) !important;
}

.dashboard-view-button-selected {
  flex: 1;
  margin: 0 10px;
  background-color: var(--main-green) !important;
  margin-bottom: 10px;
  border-color: var(--main-green) !important;
}

.active-dashboard-tab {
  color: var(--main-green) !important;
}

.inactive-dashboard-tab {
  color: var(--main-dark-gray) !important;
}

.reset-pw-button {
  background-color: var(--main-green) !important;
  border-color: var(--main-green) !important;
}

.signup-container {
  max-width: 500px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 0;
  height: 80vh;

  display: flex;
  flex-direction: column;
}

.support-container {
  min-height: 91vh;
  margin: auto;
  margin-top: 100px;
  max-width: 1025px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}
